:root {
  --light-bg: white;
  --dark-bg: #252525;
  --primary: #003f86;
  --secondary: #0071f1;
  --terciary: #012349;
  --quaternary: #85beff;
  --h1: #249e80;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  color: var(--h1);
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

p {
  font-size: 30px;
}

@media (min-width: 1173px ){
  /* HEADER */
  /* --------------------------------------------------------------------------------- */
  header {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 3% 0 3%;
    background-color: var(--terciary);
    color: white;
    font-weight: 500;
    font-size: 20px;
  }

  header p {
    font-size: 20px;
  }

  .portfolio-name {
    min-width: 256px;
    font-size: 24px;
    font-weight: bold;
  }

  .nav-menu {
    display: flex;
    width: 100%;
    max-width: 850px;
    margin: 0 100px 0 100px;
    align-items: center;
  }

  .ul-main-menu {
    display: flex;
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 7px 5%;
    flex-wrap: wrap;
  }

  .li-main-menu {
    cursor: pointer;
    padding: 2px 5px;
  }

  .li-main-menu:hover {
    outline: none; 
    border-color: #000000; 
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: var(--primary);
  }

  .menu-container {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .menu-text {
    display: none;
  }

  .header-contact {
    cursor: pointer;
    min-width: 92px;
    text-align: center;
    padding: 2px 5px;
  }

  .header-contact:hover {
    outline: none; 
    border-color: #000000; 
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: var(--primary);
  }


  /* HERO */
  /* --------------------------------------------------------------------------------- */
  .hero-section {
    display: flex;
    width: 100%;
    height: 90vh;
    min-height: 850px;
    flex-direction: column;
    align-items: center;
  }

  /* HERO TITLE */
  .hero-top-container {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 500px;
    align-items: center;
    gap: 70px;
    padding-top: 5vh;
    padding-left: max(10vw, 10vw);
    padding-right: max(100px, 10vw);
    padding-bottom: 5vh;
    background-color: var(--primary);
    color: white;
  }

  .hero-title-container {
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  /* HERO IMG */
  .hero-img-container {
    display: flex;
    height: fit-content;
    align-items: center;
    object-fit: contain;
  }

  .hero-img {
    max-width: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    min-width: 100px;
    max-width: 800px;
    max-height: 800px;
    min-height: 100px;
  }

  /* HERO DESCRIPTION / INFO */
  .hero-desc-container {
    min-width: 100%;
    background-color: white;
    color: var(--primary);
    padding: 50px 24vw 40px 90px;
  }

  .hero-description-title {
    padding-bottom: 10px;
  }

  /* MY SKILLS */
  /* --------------------------------------------------------------------------------- */
  .skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 90px 60px 90px;
    color: var(--primary);
  }

  .skills-imgs-container {
    display: flex;
    width: 70vw;
    height: fit-content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    gap: 30px;
  }


  /* EXPERIENCE AND STUDIES */
  /* --------------------------------------------------------------------------------- */
  .e-s-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    color: white;
    padding: 50px 90px 55px 90px;

  }

  .e-s-container {
    display: flex;
    width:60%;
    flex-direction: column;
    align-items: center;
  }

  .category-container {
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .e-s-button {
    all: unset; 
    cursor: pointer;
  }

  .category-container h2 {
    position: relative;
    margin-bottom: 20px;
  }

  .color {
    color: var(--h1);
  }

  /* UNDERLINE FOR ACTIVE BUTTON */
  .e-s-button::after {
    content: ""; 
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0; 
    height: 4px; 
    background-color: currentColor; 
    transition: width 0.3s ease;
  }

  .e-s-button:hover::after,
  .e-s-button.active::after {
    width: 100%; 
  }


  /* PROJECTS */
  /* --------------------------------------------------------------------------------- */
  .projects-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: var(--primary);
    padding: 50px 90px 50px 90px;
  }

  .projects-title {
    margin-bottom: 5px;
  }

  .projects-sub-title {
    margin-bottom: 10px;
  }

  .projects-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 25px 4%;
    padding: 20px;
    flex-wrap: wrap;
  }

  /* CONTACT AREA */
  /* --------------------------------------------------------------------------------- */
  .contact-section {
    display: flex;
    padding: 15px;
  }

  /* CONTACT */
  .info-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 50px 90px 50px 90px;
    background-color: var(--quaternary);
    color: var(--primary);
    gap: 15%;
  }

  .contact-container {
    display: flex;
    width: 100%;
    max-width: 520px;
    flex-direction: column;
    color: var(--terciary);
    font-weight: bold;
  }

  .contact-span {
    color: var(--h1);
  }

  .contact-title {
    margin-bottom: 100px;
  }

  .contact-text {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .contact-buttons-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
  }

  .contact-button-tag {
    cursor: pointer;
    color: white;
    font: inherit;
    text-align: center;
    border: none;
    background-color: var(--terciary);
    border-radius: 14px;
    padding: 10px 10px;
  }

  /* FORM */
  .form-container {
    width: 100%;
    max-width: 500px;
  }

  .form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .form-name {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    resize: none;
  }

  .form-email {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    resize: none;
  }

  .form-message {
    height: 200px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    resize: none;
  }

  .form-message:focus,
  .form-email:focus,
  .form-name:focus {
    outline: none; 
    border-color: #007BFF; 
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
  }

  .form-button {
    cursor: pointer;
    color: white;
    font: inherit;
    text-align: center;
    border: none;
    background-color: var(--terciary);
    border-radius: 14px;
    padding: 10px 0;
  }

  .form-button:hover,
  .contact-button-tag:hover {
    outline: none; 
    border-color: #000000; 
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
  }


  /* FOOTER */
  /* --------------------------------------------------------------------------------- */
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: white;
    padding: 20px 50px 20px 50px;
    gap: 10px;
  }

  .footer-span {
    color: var(--h1);
    font-weight: bold;
  }

  .footer-links-container {
    display: flex;
    gap: 20px;
  }

  .links-button {
    all: unset; 
    cursor: pointer;
  }
}

@media (min-width: 986px) and (max-width: 1172px) {
  /* HEADER */
  /* --------------------------------------------------------------------------------- */
  header {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 3% 0 3%;
    background-color: var(--terciary);
    color: white;
    font-weight: 500;
    font-size: 20px;
  }

  header p {
    font-size: 20px;
  }

  .portfolio-name {
    min-width: 256px;
    font-size: 24px;
    font-weight: bold;
  }

  .nav-menu {
    display: flex;
    width: 100%;
    max-width: 850px;
    margin: 0 100px 0 100px;
    align-items: center;
  }

  .ul-main-menu {
    display: flex;
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 7px 5%;
    flex-wrap: wrap;
  }

  .li-main-menu {
    cursor: pointer;
    padding: 2px 5px;
  }

  .li-main-menu:hover {
    outline: none; 
    border-color: #000000; 
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: var(--primary);
  }

  .menu-container {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .menu-text {
    display: none;
  }

  .header-contact {
    cursor: pointer;
    min-width: 92px;
    text-align: center;
    padding: 2px 5px;
  }

  .header-contact:hover {
    outline: none; 
    border-color: #000000; 
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: var(--primary);
  }


    /* HERO */
  /* --------------------------------------------------------------------------------- */
  .hero-section {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
  }

  /* HERO TITLE */
  .hero-top-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: start;
    gap: 30px;
    padding: 60px 60px;
    background-color: var(--primary);
    color: white;
  }

  .hero-title-container {
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  /* HERO IMG */
  .hero-img-container {
    display: flex;
    height: fit-content;
    align-items: center;
    object-fit: contain;
  }

  .hero-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  /* HERO DESCRIPTION / INFO */
  .hero-desc-container {
    min-width: 100%;
    background-color: white;
    color: var(--primary);
    padding: 50px 90px 40px 90px;
  }

  .hero-description-title {
    padding-bottom: 10px;
  }

  /* MY SKILLS */
  /* --------------------------------------------------------------------------------- */
  .skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 90px 60px 90px;
    color: var(--primary);
  }

  .skills-imgs-container {
    display: flex;
    width: 70vw;
    height: fit-content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    gap: 30px;
  }


  /* EXPERIENCE AND STUDIES */
  /* --------------------------------------------------------------------------------- */
  .e-s-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    color: white;
    padding: 50px 90px 55px 90px;

  }

  .e-s-container {
    display: flex;
    width:60%;
    flex-direction: column;
    align-items: center;
  }

  .category-container {
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .e-s-button {
    all: unset; 
    cursor: pointer;
  }

  .category-container h2 {
    position: relative;
    margin-bottom: 20px;
  }

  .color {
    color: var(--h1);
  }

  /* UNDERLINE FOR ACTIVE BUTTON */
  .e-s-button::after {
    content: ""; 
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0; 
    height: 4px; 
    background-color: currentColor; 
    transition: width 0.3s ease;
  }

  .e-s-button:hover::after,
  .e-s-button.active::after {
    width: 100%; 
  }


  /* PROJECTS */
  /* --------------------------------------------------------------------------------- */
  .projects-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: var(--primary);
    padding: 50px 90px 50px 90px;
  }

  .projects-title {
    margin-bottom: 5px;
  }

  .projects-sub-title {
    margin-bottom: 10px;
  }

  .projects-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 25px 4%;
    padding: 20px;
    flex-wrap: wrap;
  }

  /* CONTACT AREA */
  /* --------------------------------------------------------------------------------- */
  .contact-section {
    display: flex;
    padding: 15px;
  }

  /* CONTACT */
  .info-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 50px 90px 50px 90px;
    background-color: var(--quaternary);
    color: var(--primary);
    gap: 15%;
  }

  .contact-container {
    display: flex;
    width: 100%;
    max-width: 520px;
    flex-direction: column;
    color: var(--terciary);
    font-weight: bold;
  }

  .contact-span {
    color: var(--h1);
  }

  .contact-title {
    margin-bottom: 100px;
  }

  .contact-text {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .contact-buttons-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
  }

  .contact-button-tag {
    cursor: pointer;
    color: white;
    font: inherit;
    text-align: center;
    border: none;
    background-color: var(--terciary);
    border-radius: 14px;
    padding: 10px 10px;
  }

  /* FORM */
  .form-container {
    width: 100%;
    max-width: 500px;
  }

  .form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .form-name {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    resize: none;
  }

  .form-email {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    resize: none;
  }

  .form-message {
    height: 200px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    resize: none;
  }

  .form-message:focus,
  .form-email:focus,
  .form-name:focus {
    outline: none; 
    border-color: #007BFF; 
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
  }

  .form-button {
    cursor: pointer;
    color: white;
    font: inherit;
    text-align: center;
    border: none;
    background-color: var(--terciary);
    border-radius: 14px;
    padding: 10px 0;
  }

  .form-button:hover,
  .contact-button-tag:hover {
    outline: none; 
    border-color: #000000; 
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
  }


  /* FOOTER */
  /* --------------------------------------------------------------------------------- */
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: white;
    padding: 20px 50px 20px 50px;
    gap: 10px;
  }

  .footer-span {
    color: var(--h1);
    font-weight: bold;
  }

  .footer-links-container {
    display: flex;
    gap: 20px;
  }

  .links-button {
    all: unset; 
    cursor: pointer;
  }
}

@media (min-width: 763px ) and (max-width: 985px) {
    /* HEADER */
  /* --------------------------------------------------------------------------------- */
  header {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 3% 0 3%;
    background-color: var(--terciary);
    color: white;
    font-weight: 500;
    font-size: 20px;
  }

  header p {
    font-size: 20px;
  }

  .portfolio-name {
    min-width: 256px;
    font-size: 24px;
    font-weight: bold;
  }

  .nav-menu {
    display: none;
  }

  .ul-main-menu {
    display: none;
  }

  .li-main-menu {
    display: none;
  }

  .menu-container {
    cursor: pointer;
    display: flex;
    width: 50px;
    height: 40px;
    align-items: center;
    object-fit: contain;
    padding: 5px;
    border-radius: 10px;
  }

  .menu-container:hover {
    outline: none; 
    border-color: #000000; 
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: var(--primary);
  }

  .menu-icon {
    width: 100%;
    height: 100%;
  }

  .header-contact {
    display: none;
  }


  /* HERO */
  /* --------------------------------------------------------------------------------- */
  .hero-section {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
  }

  /* HERO TITLE */
  .hero-top-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: start;
    gap: 30px;
    padding: 60px 60px;
    background-color: var(--primary);
    color: white;
  }

  .hero-title-container {
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  /* HERO IMG */
  .hero-img-container {
    display: flex;
    height: fit-content;
    align-items: center;
    object-fit: contain;
  }

  .hero-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  /* HERO DESCRIPTION / INFO */
  .hero-desc-container {
    min-width: 100%;
    background-color: white;
    color: var(--primary);
    padding: 50px 90px 40px 90px;
  }

  .hero-description-title {
    padding-bottom: 10px;
  }

  /* MY SKILLS */
  /* --------------------------------------------------------------------------------- */
  .skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 90px 60px 90px;
    color: var(--primary);
  }

  .skills-imgs-container {
    display: flex;
    width: 70vw;
    height: fit-content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    gap: 30px;
  }


  /* EXPERIENCE AND STUDIES */
  /* --------------------------------------------------------------------------------- */
  .e-s-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    color: white;
    padding: 50px 90px 55px 90px;

  }

  .e-s-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .category-container {
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .e-s-button {
    all: unset; 
    cursor: pointer;
  }

  .category-container h2 {
    position: relative;
    margin-bottom: 20px;
  }

  .color {
    color: var(--h1);
  }

  /* UNDERLINE FOR ACTIVE BUTTON */
  .e-s-button::after {
    content: ""; 
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0; 
    height: 4px; 
    background-color: currentColor; 
    transition: width 0.3s ease;
  }

  .e-s-button:hover::after,
  .e-s-button.active::after {
    width: 100%; 
  }


  /* PROJECTS */
  /* --------------------------------------------------------------------------------- */
  .projects-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: var(--primary);
    padding: 50px 90px 50px 90px;
  }

  .projects-title {
    margin-bottom: 5px;
  }

  .projects-sub-title {
    margin-bottom: 10px;
  }

  .projects-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 25px 4%;
    padding: 20px;
    flex-wrap: wrap;
  }

  /* CONTACT AREA */
  /* --------------------------------------------------------------------------------- */
  .contact-section {
    display: flex;
    padding: 15px;
  }

  /* CONTACT */
  .info-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 50px 90px 50px 90px;
    background-color: var(--quaternary);
    color: var(--primary);
    gap: 15%;
  }

  .contact-container {
    display: flex;
    width: 100%;
    max-width: 520px;
    flex-direction: column;
    color: var(--terciary);
    font-weight: bold;
  }

  .contact-span {
    color: var(--h1);
  }

  .contact-title {
    margin-bottom: 100px;
  }

  .contact-text {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .contact-buttons-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
  }

  .contact-button-tag {
    cursor: pointer;
    color: white;
    font: inherit;
    text-align: center;
    border: none;
    background-color: var(--terciary);
    border-radius: 14px;
    padding: 10px 10px;
  }

  /* FORM */
  .form-container {
    width: 100%;
    max-width: 500px;
  }

  .form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .form-name {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    resize: none;
    text-align: start;
  }

  .form-email {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    resize: none;
  }

  .form-message {
    height: 200px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    resize: none;
  }

  .form-message:focus,
  .form-email:focus,
  .form-name:focus {
    outline: none; 
    border-color: #007BFF; 
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
  }

  .form-button {
    cursor: pointer;
    color: white;
    font: inherit;
    text-align: center;
    border: none;
    background-color: var(--terciary);
    border-radius: 14px;
    padding: 10px 0;
  }

  .form-button:hover,
  .contact-button-tag:hover {
    outline: none; 
    border-color: #000000; 
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
  }


  /* FOOTER */
  /* --------------------------------------------------------------------------------- */
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: white;
    padding: 20px 50px 20px 50px;
    gap: 10px;
  }

  .footer-span {
    color: var(--h1);
    font-weight: bold;
  }

  .footer-links-container {
    display: flex;
    gap: 20px;
  }

  .links-button {
    all: unset; 
    cursor: pointer;
  }
}

@media (min-width: 610px) and (max-width: 764px) {
  /* HEADER */
/* --------------------------------------------------------------------------------- */
header {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 3% 0 3%;
  background-color: var(--terciary);
  color: white;
  font-weight: 500;
  font-size: 20px;
}

header p {
  font-size: 20px;
}

.portfolio-name {
  min-width: 256px;
  font-size: 24px;
  font-weight: bold;
}

.nav-menu {
  display: none;
}

.ul-main-menu {
  display: none;
}

.li-main-menu {
  display: none;
}

.menu-container {
  cursor: pointer;
  display: flex;
  width: 50px;
  height: 40px;
  align-items: center;
  object-fit: contain;
  padding: 5px;
  border-radius: 10px;
}

.menu-container:hover {
  outline: none; 
  border-color: #000000; 
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: var(--primary);
}

.menu-icon {
  width: 100%;
  height: 100%;
}

.header-contact {
  display: none;
}


/* HERO */
/* --------------------------------------------------------------------------------- */
.hero-section {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  align-items: center;
}

/* HERO TITLE */
.hero-top-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: start;
  gap: 30px;
  padding: 60px 60px;
  background-color: var(--primary);
  color: white;
}

.hero-title-container {
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

/* HERO IMG */
.hero-img-container {
  display: flex;
  height: fit-content;
  align-items: center;
  object-fit: contain;
}

.hero-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/* HERO DESCRIPTION / INFO */
.hero-desc-container {
  min-width: 100%;
  background-color: white;
  color: var(--primary);
  padding: 50px 90px 40px 90px;
}

.hero-description-title {
  padding-bottom: 10px;
}

/* MY SKILLS */
/* --------------------------------------------------------------------------------- */
.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 90px 60px 90px;
  color: var(--primary);
}

.skills-imgs-container {
  display: flex;
  width: 70vw;
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  gap: 30px;
}


/* EXPERIENCE AND STUDIES */
/* --------------------------------------------------------------------------------- */
.e-s-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  color: white;
  padding: 50px 90px 55px 90px;

}

.e-s-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.category-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.e-s-button {
  all: unset; 
  cursor: pointer;
}

.category-container h2 {
  position: relative;
  margin-bottom: 20px;
}

.color {
  color: var(--h1);
}

/* UNDERLINE FOR ACTIVE BUTTON */
.e-s-button::after {
  content: ""; 
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 0; 
  height: 4px; 
  background-color: currentColor; 
  transition: width 0.3s ease;
}

.e-s-button:hover::after,
.e-s-button.active::after {
  width: 100%; 
}


/* PROJECTS */
/* --------------------------------------------------------------------------------- */
.projects-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: var(--primary);
  padding: 50px 90px 50px 90px;
}

.projects-title {
  margin-bottom: 5px;
}

.projects-sub-title {
  margin-bottom: 10px;
}

.projects-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 25px 4%;
  padding: 20px;
  flex-wrap: wrap;
}

/* CONTACT AREA */
/* --------------------------------------------------------------------------------- */
.contact-section {
  display: flex;
  padding: 15px;
}

/* CONTACT */
.info-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 50px 90px 50px 90px;
  background-color: var(--quaternary);
  color: var(--primary);
  gap: 50px;
}

.contact-container {
  display: flex;
  width: 100%;
  max-width: 520px;
  flex-direction: column;
  color: var(--terciary);
  font-weight: bold;
}

.contact-span {
  color: var(--h1);
}

.contact-title {
  margin-bottom: 50px;
}

.contact-text {
  margin-bottom: 20px;
  font-size: 20px;
}

.contact-buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px;
}

.contact-button-tag {
  cursor: pointer;
  color: white;
  font: inherit;
  text-align: center;
  border: none;
  background-color: var(--terciary);
  border-radius: 14px;
  padding: 10px 10px;
}

/* FORM */
.form-container {
  width: 100%;
  max-width: 100%;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.form-name {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  resize: none;
  text-align: start;
}

.form-email {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  resize: none;
}

.form-message {
  height: 200px;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  resize: none;
}

.form-message:focus,
.form-email:focus,
.form-name:focus {
  outline: none; 
  border-color: #007BFF; 
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
}

.form-button {
  cursor: pointer;
  color: white;
  font: inherit;
  text-align: center;
  border: none;
  background-color: var(--terciary);
  border-radius: 14px;
  padding: 10px 0;
}

.form-button:hover,
.contact-button-tag:hover {
  outline: none; 
  border-color: #000000; 
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
}


/* FOOTER */
/* --------------------------------------------------------------------------------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: white;
  padding: 20px 50px 20px 50px;
  gap: 10px;
}

.footer-span {
  color: var(--h1);
  font-weight: bold;
}

.footer-links-container {
  display: flex;
  gap: 20px;
}

.links-button {
  all: unset; 
  cursor: pointer;
}
}

@media  (min-width: 448px) and (max-width: 609px) {
  h1 {
    font-size: 50px;
    font-weight: bold;
    color: var(--h1);
  }
  
  h2 {
    font-size: 25px;
    font-weight: bold;
  }

  h3 {  
    font-size: 18px;
    font-weight: bold;
  }
  
  p {
    font-size: 20px;
  }


  /* HEADER */
/* --------------------------------------------------------------------------------- */
header {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 3% 0 3%;
  background-color: var(--terciary);
  color: white;
  font-weight: 500;
  font-size: 20px;
}

header p {
  font-size: 20px;
}

.portfolio-name {
  min-width: 256px;
  font-size: 24px;
  font-weight: bold;
}

.nav-menu {
  display: none;
}

.ul-main-menu {
  display: none;
}

.li-main-menu {
  display: none;
}

.menu-container {
  cursor: pointer;
  display: flex;
  width: 50px;
  height: 40px;
  align-items: center;
  object-fit: contain;
  padding: 5px;
  border-radius: 10px;
}

.menu-container:hover {
  outline: none; 
  border-color: #000000; 
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: var(--primary);
}

.menu-icon {
  width: 100%;
  height: 100%;
}

.header-contact {
  display: none;
}


/* HERO */
/* --------------------------------------------------------------------------------- */
.hero-section {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  align-items: center;
}

/* HERO TITLE */
.hero-top-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: start;
  gap: 30px;
  padding: 40px 35px;
  background-color: var(--primary);
  color: white;
}

.hero-title-container {
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

/* HERO IMG */
.hero-img-container {
  display: flex;
  height: fit-content;
  align-items: center;
  object-fit: contain;
}

.hero-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/* HERO DESCRIPTION / INFO */
.hero-desc-container {
  min-width: 100%;
  background-color: white;
  color: var(--primary);
  padding: 30px 35px 10px 30px;
}

.hero-description-title {
  padding-bottom: 10px;
}

/* MY SKILLS */
/* --------------------------------------------------------------------------------- */
.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 40px 30px;
  color: var(--primary);
}

.skills-imgs-container {
  display: flex;
  width: 70vw;
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  gap: 30px;
}


/* EXPERIENCE AND STUDIES */
/* --------------------------------------------------------------------------------- */
.e-s-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  color: white;
  padding: 30px 30px 40px 30px;

}

.e-s-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.category-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.e-s-button {
  all: unset; 
  cursor: pointer;
}

.category-container h2 {
  position: relative;
  margin-bottom: 20px;
}

.color {
  color: var(--h1);
}

/* UNDERLINE FOR ACTIVE BUTTON */
.e-s-button::after {
  content: ""; 
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 0; 
  height: 4px; 
  background-color: currentColor; 
  transition: width 0.3s ease;
}

.e-s-button:hover::after,
.e-s-button.active::after {
  width: 100%; 
}


/* PROJECTS */
/* --------------------------------------------------------------------------------- */
.projects-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: var(--primary);
  padding: 30px 30px 40px 30px;
}

.projects-title {
  margin-bottom: 5px;
}

.projects-sub-title {
  margin-bottom: 10px;
}

.projects-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 25px 4%;
  padding: 20px;
  flex-wrap: wrap;
}

/* CONTACT AREA */
/* --------------------------------------------------------------------------------- */
.contact-section {
  display: flex;
  padding: 15px;
}

/* CONTACT */
.info-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px 40px 30px;
  background-color: var(--quaternary);
  color: var(--primary);
  gap: 50px;
}

.contact-container {
  display: flex;
  width: 100%;
  max-width: 520px;
  flex-direction: column;
  color: var(--terciary);
  font-weight: bold;
}

.contact-span {
  color: var(--h1);
}

.contact-title {
  margin-bottom: 50px;
}

.contact-text {
  margin-bottom: 20px;
  font-size: 20px;
}

.contact-buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px;
}

.contact-button-tag {
  cursor: pointer;
  color: white;
  font: inherit;
  text-align: center;
  border: none;
  background-color: var(--terciary);
  border-radius: 14px;
  padding: 10px 10px;
}

/* FORM */
.form-container {
  width: 100%;
  max-width: 100%;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.form-name {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  resize: none;
  text-align: start;
}

.form-email {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  resize: none;
}

.form-message {
  height: 200px;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  resize: none;
}

.form-message:focus,
.form-email:focus,
.form-name:focus {
  outline: none; 
  border-color: #007BFF; 
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
}

.form-button {
  cursor: pointer;
  color: white;
  font: inherit;
  text-align: center;
  border: none;
  background-color: var(--terciary);
  border-radius: 14px;
  padding: 10px 0;
}

.form-button:hover,
.contact-button-tag:hover {
  outline: none; 
  border-color: #000000; 
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
}


/* FOOTER */
/* --------------------------------------------------------------------------------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: white;
  padding: 20px 50px 20px 50px;
  gap: 10px;
}

.footer-span {
  color: var(--h1);
  font-weight: bold;
}

.footer-links-container {
  display: flex;
  gap: 20px;
}

.links-button {
  all: unset; 
  cursor: pointer;
}
}

@media (min-width: 388px) and (max-width: 447px) {
  h1 {
    font-size: 50px;
    font-weight: bold;
    color: var(--h1);
  }
  
  h2 {
    font-size: 25px;
    font-weight: bold;
  }

  h3 {  
    font-size: 18px;
    font-weight: bold;
  }
  
  p {
    font-size: 20px;
  }


  /* HEADER */
/* --------------------------------------------------------------------------------- */
header {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 3% 0 3%;
  background-color: var(--terciary);
  color: white;
  font-weight: 500;
  font-size: 20px;
}

header p {
  font-size: 20px;
}

.portfolio-name {
  min-width: 256px;
  font-size: 24px;
  font-weight: bold;
}

.nav-menu {
  display: none;
}

.ul-main-menu {
  display: none;
}

.li-main-menu {
  display: none;
}

.menu-container {
  cursor: pointer;
  display: flex;
  width: 50px;
  height: 40px;
  align-items: center;
  object-fit: contain;
  padding: 5px;
  border-radius: 10px;
}

.menu-container:hover {
  outline: none; 
  border-color: #000000; 
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: var(--primary);
}

.menu-icon {
  width: 100%;
  height: 100%;
}

.header-contact {
  display: none;
}


/* HERO */
/* --------------------------------------------------------------------------------- */
.hero-section {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  align-items: center;
}

/* HERO TITLE */
.hero-top-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: start;
  gap: 30px;
  padding: 40px 35px;
  background-color: var(--primary);
  color: white;
}

.hero-title-container {
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

/* HERO IMG */
.hero-img-container {
  display: flex;
  height: fit-content;
  align-items: center;
  object-fit: contain;
}

.hero-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/* HERO DESCRIPTION / INFO */
.hero-desc-container {
  min-width: 100%;
  background-color: white;
  color: var(--primary);
  padding: 30px 35px 10px 30px;
}

.hero-description-title {
  padding-bottom: 10px;
}

/* MY SKILLS */
/* --------------------------------------------------------------------------------- */
.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 40px 30px;
  color: var(--primary);
}

.skills-imgs-container {
  display: flex;
  width: 70vw;
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  gap: 30px;
}


/* EXPERIENCE AND STUDIES */
/* --------------------------------------------------------------------------------- */
.e-s-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  color: white;
  padding: 30px 30px 40px 30px;

}

.e-s-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.category-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.e-s-button {
  all: unset; 
  cursor: pointer;
}

.category-container h2 {
  position: relative;
  margin-bottom: 20px;
}

.color {
  color: var(--h1);
}

/* UNDERLINE FOR ACTIVE BUTTON */
.e-s-button::after {
  content: ""; 
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 0; 
  height: 4px; 
  background-color: currentColor; 
  transition: width 0.3s ease;
}

.e-s-button:hover::after,
.e-s-button.active::after {
  width: 100%; 
}


/* PROJECTS */
/* --------------------------------------------------------------------------------- */
.projects-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: var(--primary);
  padding: 30px 30px 40px 30px;
}

.projects-title {
  margin-bottom: 5px;
}

.projects-sub-title {
  margin-bottom: 10px;
}

.projects-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 25px 4%;
  padding: 20px;
  flex-wrap: wrap;
}

/* CONTACT AREA */
/* --------------------------------------------------------------------------------- */
.contact-section {
  display: flex;
  padding: 15px;
}

/* CONTACT */
.info-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px 40px 30px;
  background-color: var(--quaternary);
  color: var(--primary);
  gap: 50px;
}

.contact-container {
  display: flex;
  width: 100%;
  max-width: 520px;
  flex-direction: column;
  color: var(--terciary);
  font-weight: bold;
}

.contact-span {
  color: var(--h1);
}

.contact-title {
  margin-bottom: 50px;
}

.contact-text {
  margin-bottom: 20px;
  font-size: 20px;
}

.contact-buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px;
}

.contact-button-tag {
  cursor: pointer;
  color: white;
  font: inherit;
  text-align: center;
  border: none;
  background-color: var(--terciary);
  border-radius: 14px;
  padding: 10px 10px;
}

/* FORM */
.form-container {
  width: 100%;
  max-width: 100%;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.form-name {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  resize: none;
  text-align: start;
}

.form-email {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  resize: none;
}

.form-message {
  height: 200px;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  resize: none;
}

.form-message:focus,
.form-email:focus,
.form-name:focus {
  outline: none; 
  border-color: #007BFF; 
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
}

.form-button {
  cursor: pointer;
  color: white;
  font: inherit;
  text-align: center;
  border: none;
  background-color: var(--terciary);
  border-radius: 14px;
  padding: 10px 0;
}

.form-button:hover,
.contact-button-tag:hover {
  outline: none; 
  border-color: #000000; 
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
}


/* FOOTER */
/* --------------------------------------------------------------------------------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: white;
  padding: 20px 50px 20px 50px;
  gap: 10px;
}

.footer-span {
  color: var(--h1);
  font-weight: bold;
}

.footer-text {
  text-align: center;
}

.footer-links-container {
  display: flex;
  gap: 20px;
}

.links-button {
  all: unset; 
  cursor: pointer;
}
}

@media (max-width: 387px) {
  h1 {
    font-size: 30px;
    font-weight: bold;
    color: var(--h1);
  }
  
  h2 {
    font-size: 20px;
    font-weight: bold;
  }

  h3 {  
    font-size: 15px;
    font-weight: bold;
  }
  
  p {
    font-size: 18px;
  }


  /* HEADER */
/* --------------------------------------------------------------------------------- */
header {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 3% 0 3%;
  background-color: var(--terciary);
  color: white;
  font-weight: 500;
  font-size: 20px;
}

header p {
  font-size: 20px;
}

.portfolio-name {
  min-width: fit-content;
  font-size: 20px;
  font-weight: bold;
}

.nav-menu {
  display: none;
}

.ul-main-menu {
  display: none;
}

.li-main-menu {
  display: none;
}

.menu-container {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 30px;
  align-items: center;
  object-fit: contain;
  padding: 5px;
  border-radius: 10px;
}

.menu-container:hover {
  outline: none; 
  border-color: #000000; 
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: var(--primary);
}

.menu-icon {
  width: 100%;
  height: 100%;
}

.header-contact {
  display: none;
}


/* HERO */
/* --------------------------------------------------------------------------------- */
.hero-section {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  align-items: center;
}

/* HERO TITLE */
.hero-top-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: start;
  gap: 30px;
  padding: 40px 35px;
  background-color: var(--primary);
  color: white;
}

.hero-title-container {
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

/* HERO IMG */
.hero-img-container {
  display: flex;
  height: fit-content;
  align-items: center;
  object-fit: contain;
}

.hero-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* HERO DESCRIPTION / INFO */
.hero-desc-container {
  min-width: 100%;
  background-color: white;
  color: var(--primary);
  padding: 30px 35px 10px 30px;
}

.hero-description-title {
  padding-bottom: 10px;
}

/* MY SKILLS */
/* --------------------------------------------------------------------------------- */
.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 40px 30px;
  color: var(--primary);
}

.skills-imgs-container {
  display: flex;
  width: 70vw;
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  gap: 30px;
}


/* EXPERIENCE AND STUDIES */
/* --------------------------------------------------------------------------------- */
.e-s-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  color: white;
  padding: 30px 30px 40px 30px;

}

.e-s-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.category-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.e-s-button {
  all: unset; 
  cursor: pointer;
}

.category-container h2 {
  position: relative;
  margin-bottom: 20px;
}

.color {
  color: var(--h1);
}

/* UNDERLINE FOR ACTIVE BUTTON */
.e-s-button::after {
  content: ""; 
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 0; 
  height: 4px; 
  background-color: currentColor; 
  transition: width 0.3s ease;
}

.e-s-button:hover::after,
.e-s-button.active::after {
  width: 100%; 
}


/* PROJECTS */
/* --------------------------------------------------------------------------------- */
.projects-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: var(--primary);
  padding: 30px 30px 40px 30px;
}

.projects-title {
  margin-bottom: 5px;
}

.projects-sub-title {
  margin-bottom: 10px;
}

.projects-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 25px 4%;
  padding: 20px;
  flex-wrap: wrap;
}

/* CONTACT AREA */
/* --------------------------------------------------------------------------------- */
.contact-section {
  display: flex;
  padding: 15px;
}

/* CONTACT */
.info-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px 40px 30px;
  background-color: var(--quaternary);
  color: var(--primary);
  gap: 50px;
}

.contact-container {
  display: flex;
  width: 100%;
  max-width: 520px;
  flex-direction: column;
  color: var(--terciary);
  font-weight: bold;
}

.contact-span {
  color: var(--h1);
}

.contact-title {
  margin-bottom: 50px;
}

.contact-text {
  margin-bottom: 20px;
  font-size: 20px;
}

.contact-buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px;
}

.contact-button-tag {
  cursor: pointer;
  color: white;
  font: inherit;
  text-align: center;
  border: none;
  background-color: var(--terciary);
  border-radius: 14px;
  padding: 10px 10px;
}

/* FORM */
.form-container {
  width: 100%;
  max-width: 100%;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.form-name {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  resize: none;
  text-align: start;
}

.form-email {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  resize: none;
}

.form-message {
  height: 200px;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  resize: none;
}

.form-message:focus,
.form-email:focus,
.form-name:focus {
  outline: none; 
  border-color: #007BFF; 
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
}

.form-button {
  cursor: pointer;
  color: white;
  font: inherit;
  text-align: center;
  border: none;
  background-color: var(--terciary);
  border-radius: 14px;
  padding: 10px 0;
}

.form-button:hover,
.contact-button-tag:hover {
  outline: none; 
  border-color: #000000; 
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
}


/* FOOTER */
/* --------------------------------------------------------------------------------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: white;
  padding: 20px 50px 20px 50px;
  gap: 10px;
}

.footer-span {
  color: var(--h1);
  font-weight: bold;
}

.footer-text {
  text-align: center;
}

.footer-links-container {
  display: flex;
  gap: 20px;
}

.links-button {
  all: unset; 
  cursor: pointer;
}
}